body {
    margin: 0;
    font-family: 'Poppins' ,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #38383A;
  }
  
  
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    color: #38383A;
    font-family: Poppins;
  }
  p {
    margin: 0px;
    font-family: Poppins;
    color: #38383A;
  }

