.item-pokemon {
    text-align: center;
    border: 1px solid var(--color-border-input);
    position: relative;
    background: var(--color-background-selected);
    opacity: 1;
}
.item-pokemon.active {
    background: var(--color-primary-blue);
}
.item-pokemon:hover {
    border: 1px solid var(--color-primary-blue);
}